.home-jumbotron {
  mix-blend-mode: multiply;
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 3rem 1rem;
  color: #555555; /* Crema para el texto, mejor contraste sobre el fondo */
}

.home-jumbotron::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7abfa228; /* Azul acero semitransparente */
  z-index: 1;
}

.home-jumbotron > * {
  position: relative;
  z-index: 2;
}

/* Para los títulos dentro del jumbotron */
.home-jumbotron h1 {
  font-weight: 700;
  color: #555555; /* Azul acero para reforzar el branding */
}

/* Para los textos principales */
.home-jumbotron p.lead {
  font-size: 1.25rem;
  color: #bfa2bf; /* Crema para buena visibilidad */
}

/* Botón principal */
.home-jumbotron .btn {
  background-color: #bfa2bf; /* Verde menta */
  border: none;
  color: #555555;
  font-weight: 600;
}

.home-jumbotron .btn:hover {
  background-color: #bfa2bf; /* Azul cielo en hover */
  color: #555555;
}

