.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #7abfa2; /* Azul acero */
  color: #FFFDD0; /* Crema (mejor contraste que el beige puro) */
  padding: 1.5rem 0;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.footer-icon {
  color: #FFFDD0; /* Crema */
  margin: 0 8px;
  font-size: 1.6rem;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #FFA07A; /* Salmón claro */
}

.footer-link {
  color: #FFFDD0; /* Crema */
  text-decoration: underline;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #FFA07A; /* Salmón claro */
}

.footer small {
  font-size: 0.9rem;
}

.footer a {
  text-decoration: none;
}
