.navbar {
  background-color: #7abfa2 !important; /* Azul acero */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-height: 70px;
}

.navbar-brand {
  color: #FFFDD0 !important; /* Crema, mejor contraste sobre el azul */
  font-weight: 700;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.navbar-brand:hover {
  color: #FFDAB9 !important; /* Melocotón suave al pasar el mouse */
  text-decoration: none;
}

.nav-link {
  color: #FFFDD0 !important; /* Crema */
  font-weight: 600;
  margin-left: 1rem;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: #FFA07A !important; /* Salmón claro */
  text-decoration: underline;
}

.navbar-toggler {
  border-color: #FFFDD0 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FFFDD0' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
